services:
  nginx:
    build: requirements/nginx
    container_name: nginx
    depends_on:
      wordpress:
        condition: service_started
    ports:
      - "443:443"
    volumes:
      - inception_web:/var/www/html
    networks:
      - inception
    env_file:
      - .env
    restart: always
  
  
  wordpress:
    build: requirements/wordpress
    container_name: wp-php
    depends_on:
      mariadb:
        condition: service_started
    volumes:
      - inception_web:/var/www/html
    networks:
      - inception
    env_file:
      - .env
    restart: always


  mariadb:
    build: requirements/mariadb
    container_name: mariadb
    ports:
      - "3306:3306"
    volumes:
      - inception_database:/var/lib/mysql
    networks:
      - inception
    env_file:
      - .env
    restart: always


networks:
  inception:
    driver: bridge


volumes:
  inception_database:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ../data/database
  inception_web:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ../data/web

