version: '3.8'
services:
  nginx:
    build: requirements/nginx
    container_name: nginx
    depends_on:
      - wordpress
      - mariadb
    ports:
      - "8080:80"
    volumes:
      - ../web:/var/www/html
    networks:
      - inception
  wordpress:
    build: requirements/wordpress
    container_name: wp-php
    depends_on:
      - mariadb
    volumes:
      - ../web:/var/www/html
    networks:
      - inception
  mariadb:
    build: requirements/mariadb
    container_name: mariadb
    env_file:
      - .env
    volumes:
      - ./database:/var/lib/mysql
    networks:
      - inception

networks:
  inception:
    driver: bridge


